{"video": "bigbuckbunny480p24x30s.y4m",
 "reference_video": "bigbuckbunny480p24x30s.y4m",
 "crf": 16, 
 "min_length": 4, 
 "max_length": 4, 
 "target_seg_length": 4,
 "encoder": "x264",
 "cst_bitrate": 123456
}
